.DS_Store
node_modules

# local env files
.env.local
.env.*.local

package-lock.json
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# private folders
.notes
.vscode/plugins

.eslintcache

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dist/
size-snapshot.json
.eslintcache
.husky/
